
SECRET_KEY=dev-key-ganti-nanti
JWT_SECRET_KEY=dev-key-ganti-nanti

DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=2WyePAZzpVWKrKb.root
DB_PASSWORD=EUTu1NH6ubgKRfms
DB_NAME=db_porto
DB_CA_PATH=

CLOUDINARY_CLOUD_NAME=dwioczfrk
CLOUDINARY_API_KEY=938687254945825
CLOUDINARY_API_SECRET=hrIKhUCKU154lXDY-mpaYgktScQ
RESEND_API_KEY=re_7mxtUPNA_PHv6uWDMTVuP2X9xpPne2jLu
RESEND_FROM=Portfolio <onboarding@resend.dev>
CONTACT_EMAIL=afiqaysar@gmail.com
FRONTEND_URL=http://localhost:5000

